<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
</head>
<body>
    <header>
        <h1>Välkommen till Kino!</h1>
    </header>
    <main>
        {{{body}}} <!-- Här kommer innehållet från specifika vyer -->
    </main>
    <footer>
        <p>© 2025 Kino Biograf</p>
    </footer>
</body>
</html>