@use './lib.scss' as *;

.movie-headline {
  max-width: 1280px;
  background-color: $background-color;
  margin: 0 auto;
  padding: 0 1rem;
  font-size: 1rem;
  color: $text-color-main;
  font-weight: 400;
}
.movie-container {
  max-width: 1280px;
  background-color: $background-color;
  color: $text-color-main;
  display: grid;
  gap: 0.8rem;
  grid-template-columns: repeat(2, 1fr);
  padding: 0 1rem;
  margin: 0 auto;
  .movie-card {
    img {
      max-width: 100%;
      height: auto;
      display: block;
    }
    h2 {
      font-size: 1rem;
      font-weight: 400;
      margin: 0;
      text-decoration: none;

      a {
        color: $text-color-main;
        text-decoration: none;
      }

      &:hover {
        cursor: pointer;
      }
    }
    p {
      font-size: 0.8rem;
      margin: 0;
    }
  }
}

.movie-page {
  margin: 1.5rem;
}

.movie-image {
  width: 40%;
  height: auto;
}

.movie-intro {
  max-width: 40%;
}

.link {
  background-color: $red-color;
  color: $text-color-main;
  padding: 1rem;
  border-radius: 0.5rem;
  text-decoration: none;
}

@media screen and (min-width: 500px) {
  .movie-headline {
    font-size: 1.3rem;
  }
  .movie-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 1000px) {
  .movie-container {
    grid-template-columns: repeat(5, 1fr);
  }
}
